<form id="calcular" [formGroup]="calculadoraForm" (ngSubmit)="calcular()">
    <div class="result-bar">
        <label>resultado</label>
        <p>{{this.result}}</p>    
    </div>
    <div>
        <input type="button" class="operator-out" value="C" id="Delete">
    </div>
    <section class="Controlls">
        <input type="button" class="number" value="7" id="seven">
        <input type="button" class="number" value="8" id="eight">
        <input type="button" class="number" value="9" id="nine">
        <div>
            <app-divide></app-divide>
        </div>
        <input type="button" class="number" value="4" id="four">
        <input type="button" class="number" value="5" id="five">
        <input type="button" class="number" value="6" id="six">
        <div>
            <app-multiplicate></app-multiplicate>
        </div>
        <input type="button" class="number" value="1" id="one">
        <input type="button" class="number" value="2" id="two">
        <input type="button" class="number" value="3" id="three">
        <div>   
            <app-minus></app-minus>
        </div>
        <input type="button" class="number" value="+/-" id="negate">
        <input type="button" class="number" value="0" id="zero">
        <input type="button" class="number" value="," id="coma">
        <div>
            <app-plus></app-plus>
        </div>
    </section>
    
    
    
    <div>
        <label>valor 1</label>
        <input formControlName="number1" id="value1">
    </div>
    <div>
        <label>valor 2</label>
        <input formControlName="number2" id="value2">
    </div>
    
    <div>
        <button type="submit" form="calcular">Calcular</button>
        <button type="reset" >Limpiar</button>
    </div>
</form>